* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: linear-gradient(to left, white, #D5D4FF);
}

.motto p {
    font-size: 120px;
    padding-top: 200px;
    font-weight: 700;
    color: #580A47;
  
    align-items: center;
    text-align: center;
    justify-content: center;  
}

.motto2 p{
    font-size: 80px;
    padding-bottom: 30px;
    font-weight: 600;
    color: #580A47;
  
    align-items: center;
    text-align: center;
    justify-content: center;  
}

button {
    margin-top: 5px;
    padding: 20px 30px;
    color: #000000;
    border: none;
    font-weight: 550;
    
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(to right,#F99055, #EEA0EB);
}
.match-button {
    margin: 50px;
    font-size: 25px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.mission-body {
    padding: 100px 50px;
    font-size: 28px;
    color: #000000;
    justify-content: center;
}

.mission-body h2{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 30px;
}

.empowering-body {
    padding: 50px 50px;
    font-size: 28px;
    color: #000000;
    justify-content: center;
}

.empowering-body h2{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 30px;
}
