/* Container for all cards */
.match-card {

    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem; 
    
}

    
.card {
    
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    
}


  /*
  .card {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
  }
/*   
  .card-img-top {
    width: 30%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .card:hover {
    transform: scale(1.05); 
  } */